@layer base {
    :root {
        --page-content-width: min(100% - 3rem, 95rem);
    }
}

@layer components {
    .page-container {
        width: var(--page-content-width);
        margin-inline: auto;
    }

    .page-container-narrow {
        @apply mx-auto w-full max-w-7xl px-6;
    }
}
